<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>EN-Sheet</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>

    <div class="en_sheet grid">

      <div class="item sc-4">
        <div class="content">
          <div class="body">
            <div class="title sc-6">Datos Personales</div>
            <div class="pad-5px">
              <div class="personales">
                <div class="sc-6"><label>Nombre:</label><input type="text"></div>

                <div class="sc-2"><label>Sexo:</label><input type="text"></div>
                <div class="sc-1"><label>Edad:</label><input type="text"></div>
                <div class="sc-2"><label>Altura:</label><input type="text"></div>
                <div class="sc-1"><label>Peso:</label><input type="text"></div>

                <div class="sc-2"><label>Piel:</label><input type="text"></div>
                <div class="sc-2"><label>Pelo:</label><input type="text"></div>
                <div class="sc-2"><label>Ojos:</label><input type="text"></div>

                <div class="sc-3"><label>Origen:</label><input type="text"></div>
                <div class="sc-3"><label>Nación:</label><input type="text"></div>

                <div class="sc-3"><label>Organización:</label><input type="text"></div>
                <div class="sc-3"><label>Posición:</label><input type="text"></div>

                <div class="sc-3"><label>Religión:</label><input type="text"></div>
                <div class="sc-3"><label>Deidad:</label><input type="text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item sc-4">
        <div class="content logo">
          <img src="img/logo.png">
        </div>
      </div>

      <div class="item sc-2">
        <div class="content">
          <div class="body g-3">
            <div class="title sc-3">Atributos Físicos</div>
            <div class="sc-2 pad-r">Fuerza</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Agilidad</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Resistencia</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-2">
        <div class="content char_img">
          <img src="http://getdrawings.com/images/warrior-girl-drawing-20.jpg">
        </div>
      </div>

      <div class="item sc-2">
        <div class="content">
          <div class="body">
            <div class="title">Ventajas</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-2">
        <div class="content">
          <div class="body">
            <div class="title">Desventajas</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-2">
        <div class="content">
          <div class="body g-3">
            <div class="title sc-3">Atributos Mentales</div>
            <div class="sc-2 pad-r">Voluntad</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Inteligencia</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Liderazgo</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-4">
        <div class="content">
          <div class="body g-6">
            <div class="title sc-5">Anhelos</div>
            <div class="title">Grado</div>
            <div class="sc-5"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-5"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-5"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-5"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-2">
        <div class="content">
          <div class="body g-3">
            <div class="title sc-3">Atributos Sobrenaturales</div>
            <div class="sc-2 pad-r">Potencia</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Defensa</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Extensión</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-4 g-3 g-gap">
        <div class="content">
          <div class="body">
            <div class="title">Energía</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
        <div class="content">
          <div class="body">
            <div class="title">Aguante</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
        <div class="content">
          <div class="body">
            <div class="title">Motivación</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item" style="grid-column: 1/3">
        <div class="content vida_est">
          <img src="img/icono_vida.png">
        </div>
      </div>

      <div class="item sc-6">
        <div class="content g-4 g-gap">
          <div class="body sc-3 g-18">
            <div class="title sc-10"></div>
            <div class="title sc-6">Carga en manos</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>

            <div class="title sc-10">Armas</div>
            <div class="title sc-2">Imp.</div>
            <div class="title sc-2">Daño</div>
            <div class="title sc-2">Tipo</div>
            <div class="title sc-2">Estr.</div>

            <div class="sc-10"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>

            <div class="sc-10"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>

            <div class="sc-10"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>

            <div class="sc-10"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>
            <div class="sc-2"><input type="text" class="text" value="" name=""></div>

          </div>
          <div class="body g-4">
            <div class="title sc-4">Iniciativa</div>
            <div class="title">Alc.</div>
            <div class="title">Base</div>
            <div class="title">Esp.</div>
            <div class="title">Total</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>

            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>

            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>

            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item sc-8">
        <div class="content g-8 g-gap">
          <div class="body sc-7 g-18">
            <div class="title sc-11">Protección y Defensas</div>
            <div class="title sc-1">Cont.</div>
            <div class="title sc-1">Cort.</div>
            <div class="title sc-1">Perf.</div>
            <div class="title sc-1">Luz</div>
            <div class="title sc-1">Osc.</div>
            <div class="title sc-1">Elem</div>
            <div class="title sc-1">SN</div>

            <div class="title sc-3">Armadura</div>
            <div class="sc-8"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>

            <div class="title sc-3">Escudo</div>
            <div class="sc-8"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>

            <div class="title sc-3">Especial</div>
            <div class="sc-8"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            
            <div class="title sc-3">Natural</div>
            <div class="sc-8"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>

            <div class="title sc-5">Carga en torso</div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="title sc-4">Total:</div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>
            <div class="sc-1"><input type="text" class="text" value="" name=""></div>

          </div>
          <div class="body g-2">
            <div class="title sc-1">Eva.</div>
            <div class="title sc-1">Cob.</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>


      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js'></script>
      <script  src="js/masonry.js"></script>
  </body>
</html>


<!--
  <div class="en_sheet">

  <div class="md-2">
  <div class="title md-6">Datos Personales</div>
  <div class="body">
  <div class="pad-5px">
  <div class="personales">
  <div class="md-6"><label>Nombre:</label><input type="text"></div>

  <div class="md-2"><label>Sexo:</label><input type="text"></div>
  <div class="md-1"><label>Edad:</label><input type="text"></div>
  <div class="md-2"><label>Altura:</label><input type="text"></div>
  <div class="md-1"><label>Peso:</label><input type="text"></div>

  <div class="md-2"><label>Piel:</label><input type="text"></div>
  <div class="md-2"><label>Pelo:</label><input type="text"></div>
  <div class="md-2"><label>Ojos:</label><input type="text"></div>

  <div class="md-3"><label>Origen:</label><input type="text"></div>
  <div class="md-3"><label>Nación:</label><input type="text"></div>

  <div class="md-3"><label>Organización:</label><input type="text"></div>
  <div class="md-3"><label>Posición:</label><input type="text"></div>

  <div class="md-3"><label>Religión:</label><input type="text"></div>
  <div class="md-3"><label>Deidad:</label><input type="text"></div>
  </div>
  </div>
  </div>
  </div>

  <div class="md-2 logo">
  <img src="img/logo.png">
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div class="md-2">
  <div class="title">Atributos Físicos</div>
  <div class="body">
  <div>Fuerza</div>
  <div>Agilidad</div>
  <div>Resistencia</div>
  </div>
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  </div>
-->
