<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja personaje - Espada Negra</title>

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class="en_sheet">
      <div class="personales md-2">
        <div class="md-6"><label>Nombre:</label><input type="text"></div>

        <div class="md-2"><label>Origen:</label><input type="text"></div>
        <div class="md-2"><label>Sexo:</label><input type="text"></div>
        <div class="md-2"><label>Edad:</label><input type="text"></div>
        
        <div class="md-2"><label>Piel:</label><input type="text"></div>
        <div class="md-2"><label>Pelo:</label><input type="text"></div>
        <div class="md-2"><label>Ojos:</label><input type="text"></div>

        <div class="md-2"><label>Peso:</label><input type="text"></div>
        <div class="md-2"><label>Altura:</label><input type="text"></div>
        <div class="md-2"><label>Nación:</label><input type="text"></div>

        <div class="md-3"><label>Organización:</label><input type="text"></div>
        <div class="md-3"><label>Posición:</label><input type="text"></div>

        <div class="md-3"><label>Religión:</label><input type="text"></div>
        <div class="md-3"><label>Deidades:</label><input type="text"></div>
      </div>
    </div>

    <!-- <div id=fichapersonaje>

      <div id=personales>
      <div class=tabla>
      <div class='titulo'>Datos Personales</div>
      <div id='box'>
      <div id=nombre><label>Nombre:</label><input type=text name='nombre'/></div>
      <div id=origen><label>Origen:</label><input type=text name='origen'/></div>
      <div id=sexo><label>Sexo:</label><input type=text name='sexo'/></div>
      <div id=edad><label>Edad:</label><input type=text name='edad'/></div>
      <div id=piel><label>Piel:</label><input type=text name='piel'/></div>
      <div id=ojos><label>Ojos:</label><input type=text name='ojos'/></div>
      <div id=pelo><label>Pelo:</label><input type=text name='pelo'/></div>
      <div id=peso><label>Peso:</label><input type=text name='peso'/></div>
      <div id=altura><label>Altura:</label><input type=text name='altura'/></div>
      <div id=nacion><label>Nación:</label><input type=text name='nacion'/></div>
      <div id=organizacion><label>Organización:</label><input type=text name='organizacion'/></div>
      <div id=posicion><label>Posición:</label><input type=text name='posicion' /></div>
      <div id=religion><label>Religión:</label><input type=text name='religion'/></div>
      <div id=deidad><label>Deidad:</label><input type=text name='deidad'/></div>
      </div>
      </div>
      </div>

      <div id=logo><img src="img/logo.png"></div>

      <div id=fisicos>
      <div class="tabla atributo">
      <div class='titulo_full'>Atributos Físicos</div>
      <div><label>FUERZA</label></div>
      <div><input type=number name='fuerza'/></div>
      <div><label>AGILIDAD</label></div>
      <div><input type=number name='agilidad'/></div>
      <div><label>RESISTENCIA</label></div>
      <div><input type=number name='resitencia'/></div>
      </div>
      </div>

      <div id=mentales>
      <div class="tabla atributo">
      <div class='titulo_full'>Atributos Mentales</div>
      <div><label>VOLUNTAD</label></div>
      <div><input type=number name='voluntad'/></div>
      <div><label>INTELIGENCIA</label></div>
      <div><input type=number name='inteligencia'/></div>
      <div><label>LIDERAZGO</label></div>
      <div><input type=number name='liderazgo'/></div>
      </div>
      </div>

      <div id=sobrenaturales>
      <div class="tabla atributo">
      <div class='titulo_full'>Atr. Sobrenaturales</div>
      <div><label>POTENCIA</label></div>
      <div><input type=number name='potencia'/></div>
      <div><label>DEFENSA</label></div>
      <div><input type=number name='defensa'/></div>
      <div><label>EXTENSIÓN</label></div>
      <div><input type=number name='extension'/></div>
      </div>
      </div>

      <div id=section_img>
      <img src="http://getdrawings.com/images/warrior-girl-drawing-20.jpg">
      </div>

      <div id=ventajas>
      <div class='tabla'>
      <div class='titulo'>Ventajas</div>
      <div><input type=text name='ventaja_1'/></div>
      <div><input type=text name='ventaja_2'/></div>
      <div><input type=text name='ventaja_3'/></div>
      <div><input type=text name='ventaja_4'/></div>
      </div>
      </div>

      <div id=desventajas>
      <div class=tabla>
      <div class='titulo'>Desventajas</div>
      <div><input type=text name='desventaja_1'/></div>
      <div><input type=text name='desventaja_2'/></div>
      <div><input type=text name='desventaja_3'/></div>
      <div><input type=text name='desventaja_4'/></div>
      </div>
      </div>

      <div id=anhelos>
      <div class="tabla anhelos">
      <div class='titulo'>Anhelos</div><div class='titulo'>Grado</div>
      <div><input type=text name='anhelo_1'/></div>
      <div><input type=text name='grado_1'/></div>
      <div><input type=text name='anhelo_2'/></div>
      <div><input type=text name='grado_2'/></div>
      <div><input type=text name='anhelo_3'/></div>
      <div><input type=text name='grado_3'/></div>
      <div><input type=text name='anhelo_4'/></div>
      <div><input type=text name='grado_4'/></div>
      </div>
      </div>

      <div id=EAM>
      <div class=tabla>
      <div class='titulo'>Energía</div>
      <div><input type=number name='energia'/></div>
      </div>

      <div class=tabla>
      <div class='titulo'>Aguante</div>
      <div><input type=number name='aguante'/></div>
      </div>

      <div class=tabla>
      <div class='titulo'>Motiv.</div>
      <div><input type=number name='motivacion'/></div>
      </div>
      </div>

      <div id=icono_vida>
      <img src="img/icono_vida.png">
      <input id='vida' type=number name='vida'/>
      <input id='muerte' type=number name='muerte'/>
      <input id='daños_vida' type=number name='daños_vida'/>
      <input id='daños_est' type=number name='daños_est'/>
      <input id='estructura' type=number name='estructura'/>
      </div>

      <div id=armas>
      <div class=tabla>
      <div class=titulo>Armas</div>
      <div class=titulo>Imp.</div>
      <div class=titulo>Daño</div>
      <div class=titulo>Tipo</div>
      <div class=titulo>Estr.</div>
      <div class=titulo>Alc.</div>
      <div class=titulo>Base</div>
      <div class=titulo>Esp.</div>
      <div class=titulo>Total</div>

      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>

      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>

      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>

      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=text /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      <div><input type=number /></div>
      </div>
      </div> -->
  </body>
</html>
