<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>EN-Sheet</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>

    <div class="en_sheet grid">

      <div class="item sc-3">
        <div class="content">
          <div class="title sc-6">Datos Personales</div>
          <div class="body">
            <div class="pad-5px">
              <div class="personales">
                <div class="sc-6"><label>Nombre:</label><input type="text"></div>

                <div class="sc-2"><label>Sexo:</label><input type="text"></div>
                <div class="sc-1"><label>Edad:</label><input type="text"></div>
                <div class="sc-2"><label>Altura:</label><input type="text"></div>
                <div class="sc-1"><label>Peso:</label><input type="text"></div>

                <div class="sc-2"><label>Piel:</label><input type="text"></div>
                <div class="sc-2"><label>Pelo:</label><input type="text"></div>
                <div class="sc-2"><label>Ojos:</label><input type="text"></div>

                <div class="sc-3"><label>Origen:</label><input type="text"></div>
                <div class="sc-3"><label>Nación:</label><input type="text"></div>

                <div class="sc-3"><label>Organización:</label><input type="text"></div>
                <div class="sc-3"><label>Posición:</label><input type="text"></div>

                <div class="sc-3"><label>Religión:</label><input type="text"></div>
                <div class="sc-3"><label>Deidad:</label><input type="text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item sc-3">
        <div class="content logo">
          <img src="img/logo.png">
        </div>
      </div>

      <div class="item">
        <div class="content">
          <div class="title">Atributos Físicos</div>
          <div class="body g-3">
            <div class="sc-2 pad-r">Fuerza</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Agilidad</div>
            <div><input type="text" class="text" value="" name=""></div>
            <div class="sc-2 pad-r">Resistencia</div>
            <div><input type="text" class="text" value="" name=""></div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <p>Lorem ipsum dolor sit amet, conse</p>
        </div>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js'></script>
      <script  src="js/masonry.js"></script>
  </body>
</html>


<!--
  <div class="en_sheet">

  <div class="md-2">
  <div class="title md-6">Datos Personales</div>
  <div class="body">
  <div class="pad-5px">
  <div class="personales">
  <div class="md-6"><label>Nombre:</label><input type="text"></div>

  <div class="md-2"><label>Sexo:</label><input type="text"></div>
  <div class="md-1"><label>Edad:</label><input type="text"></div>
  <div class="md-2"><label>Altura:</label><input type="text"></div>
  <div class="md-1"><label>Peso:</label><input type="text"></div>

  <div class="md-2"><label>Piel:</label><input type="text"></div>
  <div class="md-2"><label>Pelo:</label><input type="text"></div>
  <div class="md-2"><label>Ojos:</label><input type="text"></div>

  <div class="md-3"><label>Origen:</label><input type="text"></div>
  <div class="md-3"><label>Nación:</label><input type="text"></div>

  <div class="md-3"><label>Organización:</label><input type="text"></div>
  <div class="md-3"><label>Posición:</label><input type="text"></div>

  <div class="md-3"><label>Religión:</label><input type="text"></div>
  <div class="md-3"><label>Deidad:</label><input type="text"></div>
  </div>
  </div>
  </div>
  </div>

  <div class="md-2 logo">
  <img src="img/logo.png">
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div class="md-2">
  <div class="title">Atributos Físicos</div>
  <div class="body">
  <div>Fuerza</div>
  <div>Agilidad</div>
  <div>Resistencia</div>
  </div>
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div class="md-1">
  <div class="title">Atributos Físicos</div>
  <div class="body">Hello</div>
  </div>

  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  <div>Hello</div>
  </div>
-->
